</div>
</body>
<footer>
    <div class="img"></div>
    <div class="foot">
        <div class="footer-title">
            <h3>Social link:</h3>
        </div>
        <div>
            <div>
                <img src="/img/fb.png" alt="Nepal Padhcha Facebook">
                <a href="#">Facebook</a>
            </div>
            <div>
                <img src="/img/yt.png" alt="Nepal Padhcha YouTube">
                <a href="#">YouTube</a>
            </div>
            <div>
                <img src="/img/twitter.png" alt="Nepal Padhcha Twitter">
                <a href="#">Twitter</a>
            </div>
            <div>
                <img src="/img/email.png" alt="Nepal Padhcha Twitter">
                <a href="#">E-mail</a>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="footer-title">
            <h3>Courses:</h3>
        </div>
        <div>
            <div>
                <img src="/img/book1.png" alt="Nepal Padhcha Facebook">
                <a href="#">Course <span>1</span></a>
            </div>
            <div>
                <img src="/img/book2.png" alt="Nepal Padhcha YouTube">
                <a href="#">Course <span>2</span></a>
            </div>
            <div>
                <img src="/img/book3.png" alt="Nepal Padhcha Twitter">
                <a href="#">Course <span>3</span></a>
            </div>
            <div>
                <img src="/img/book4.png" alt="Nepal Padhcha Twitter">
                <a href="#">Course <span>4</span></a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>

</html>