<%- include("partials/header") -%>
        <div class="homeContainer">
            <div class="home-title">
                <h1>Learn, Unlearn And Relearn</h1>
                <a href="#">Contact Us</a>
            </div>
            <div>
                <img src="img/man-with-laptop-studying-or-working-concept-removebg.svg" alt="man-with-laptop-studying" class="home-img">
            </div>
        </div>
        <div class="course-container">
            <div class="courses">
                <div class="course">
                    <div>
                        <img src="img/computer.png" alt="Computer course">
                    </div>
                    <div>
                        <h1>Course <span>1</span></h1>
                        <p>Lorem ipsum dolor sit, amet elit. Culpa, quas.</p>
                        <a href="#">Read</a>
                    </div>
                </div>
                <div class="course">
                    <div>
                        <img src="img/chemistry.png" alt="Computer course">
                    </div>
                    <div>
                        <h1>Course <span>2</span></h1>
                        <p>Lorem ipsum dolor sit, amet elit. Culpa, quas.</p>
                        <a href="#">Read</a>
                    </div>
                </div>
                <div class="course">
                    <div>
                        <img src="img/science-book.png" alt="Computer course">
                    </div>
                    <div>
                        <h1>Course <span>3</span></h1>
                        <p>Lorem ipsum dolor sit, amet elit. Culpa, quas.</p>
                        <a href="#">Read</a>
                    </div>
                </div>
                <div class="course">
                    <div>
                        <img src="img/pngtree-book-graphic-design-template-vector-.png" alt="Computer course">
                    </div>
                    <div>
                        <h1>Course <span>4</span></h1>
                        <p>Lorem ipsum dolor sit, amet elit. Culpa, quas.</p>
                        <a href="#">Read</a>
                    </div>
                </div>
            </div>
            <div class="more-course">
                <a href="/courses">View More</a>
            </div>
        </div>
        <div class="about-container">
            <div>
                <h1>About us</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea incidunt, consequatur ut dolorem beatae quo eos provident nulla possimus consequuntur laborum voluptatem consectetur nesciunt quidem numquam vel cumque error nemo?</p>
        </div>

    <%- include("partials/footer") -%>