<form action="/Log-In" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="username">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
<a href="/auth/google">Login with google</a>